{% extends 'blog/base.html' %}

{% block content %}
  {% comment %} {% for post in post_list %} {% endcomment %}
  {% for post in page_obj.object_list.all %}
    <div>
      <div class="post_list">
        <a href="{% url 'detail' pk=post.pk %}" class="link_detail">
          {{ post.title }}
        </a>
        <br>
        <span class="badge rounded-pill bg-primary">Category</span>{{ post.category }}<span class="badge rounded-pill bg-primary">tag</span>{% for tag_name in post.tag.all %} {{tag_name}}&nbsp;{% endfor %}
        <br>
        <span class="badge bg-secondary">{{ post.post_datetime|date:'Y/m/d' }}</span>
        <hr />
      </div>
    </div>
  {% endfor %}

  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
  {% endif %}

  <!-- 1/3 の部分 -->
  {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}

  <!-- 次へ の部分 -->
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
  {% endif %}
{% endblock %}
