{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
  {% comment %} {% for post in post_list %} {% endcomment %}
  {% comment %} <form method="GET" action="{% url 'index' %}">
    <input type="text" name="keyword">
    <button type="submit">検索</button>
  </form> {% endcomment %}
  <form method="GET" action={% url 'index' %}>
  {{ form.as_p }}
  {% comment %} {{ form.keyword }} {% endcomment %}
  <button type="submit">検索</button>
  </form>
  {% for post in page_obj.object_list.all %}
    <div>
      <div class="post_list">
        {% comment %} {% if post.thumbnail == "" %} {% endcomment %}
        {% comment %} {% if post.thumbnail is None %}
          <img src="{% static 'noimage.png' %}" alt="eyecatch" width="200px" height="200px">        
        {% else %} {% endcomment %}
        <img src="post.thumbnail" alt="eyecatch" width="200px" height="200px">  
        {% comment %} {% endif %} {% endcomment %}
        <a href="{% url 'detail' pk=post.pk %}" class="link_detail">
          {{ post.title }}
        </a>
        <br>
        <span class="badge rounded-pill bg-primary">Category</span>{{ post.category }}<span class="badge rounded-pill bg-primary">tag</span>{% for tag_name in post.tag.all %} {{tag_name}}&nbsp;{% endfor %}
        <br>
        <span class="badge bg-secondary">{{ post.post_datetime|date:'Y/m/d' }}</span>
        <hr />
      </div>
    </div>
  {% endfor %}

  {% include 'blog/page.html' %}

{% endblock %}
